.image {
    height: 130px;
    margin-left:40px;
}
.semilla {
    height: 800px;
}
blockquote {
    margin-top: 100px;
}
.nav-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
}

.texto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: gray;
    font-size: 16px;
    padding: 50px;

}
.mb-0 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    width: 400px;
    font-size: 14px;
    text-align: center;
    
}
.col-md-6 {
    margin-top: 40px;
    
}
.mision {
    display: inline-block;
}
.metodo {
    width: 600px;

}
